name: Docker Tests

on:
  workflow_call:

jobs:
  build-reason-torch26:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build reason-torch2.6
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
           BUILD_TARGET=reason
           NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:reason

  build-embodied-maniskill_libero:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-maniskill_libero
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-maniskill_libero
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied

  build-embodied-behavior-openvlaoft:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-behavior-openvlaoft
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-behavior-openvlaoft
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-behavior-openvlaoft

  build-embodied-behavior-openpi:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-behavior-openpi
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-behavior-openpi
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-behavior-openpi

  build-embodied-metaworld:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-metaworld
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-metaworld
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-metaworld

  build-embodied-calvin:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-calvin
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-calvin
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-calvin
  
  build-embodied-robocasa:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-robocasa
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-robocasa
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-robocasa

  build-embodied-isaaclab:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-isaaclab
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-isaaclab
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-isaaclab

  build-embodied-franka:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-franka
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-franka
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-franka

  build-embodied-opensora:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-opensora
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-opensora
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-opensora

  build-embodied-frankasim:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-frankasim
        uses: docker/build-push-action@v6
        with:
          file: ./docker/Dockerfile
          push: false
          build-args: |
            BUILD_TARGET=embodied-frankasim
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-frankasim
